@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* Sobrescrevendo os estilos dos dots */
.slick-dots li button:before {
  font-size: 60px;
  color: #707070 !important; /* Cor padrão dos dots */
}

.slick-dots li.slick-active button:before {
  color: rgb(0, 89, 255) !important; /* Cor do dot ativo */
}

/* Sobrescrevendo os estilos das setas */
.slick-prev:before,
.slick-next:before {
  font-size: 25px !important; /* Tamanho das setas */
  color: rgb(8, 255, 222) !important; /* Cor das setas */
}

/* Ajustando a posição das setas */
.slick-prev {
  left: -29px !important;
}

.slick-next {
  /* right: -65px !important;  */
}

.itens{
  padding: 0 10px !important;
}

/* Ajuste opcional para a posição dos dots */
/* .slick-dots {
  bottom: -25px !important;
} */
